.event {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
}
.event-img-box {
    float: left;
    height: 200px;
    width: 150px;
    margin: 20px;
    display: inline-block;
}
.event-img {
    height: 150px;
    width: 150px;
    display: block;
}
.event-title {
    margin-bottom: 0px;
}
.event-date {
    color: #b9b9b9;
    text-align: left;
}
.event-author {
    float: right;
    margin-right: 15px;
}
.event-share-url {
    margin: 10px auto;
    width: 96px;
}

.event-share-url>a {
    color: white;
}

.read-more {
    margin-top: 10px;
}
