body{
    background-color: #ced0a6;
}
.container{
    padding-right: 0px;
    padding-left: 0px;
}
#header{
    margin-bottom: 15px;
}
    #logo{
        font-weight: bold;
        font-style: italic;

    }
    #search{

    }
        #search>input{
            float: right;
        }
    #nav{
        background-color: #d9d9d9;
        padding-left: 30px;
    }
        #nav>div{
            padding: 10px;
            margin: 3px;

        }

#event-body{
    background-color: #ffffff;
    margin: 5px;
    padding: 7px;
}
    .event{
        margin-bottom: 15px;
    }
    .event-img{
        float: left;
        height: 150px;
        width: 150px;
        margin: 20px;
    }
    .event-title{
    }
    .event-date{
        font-size: 10px;
        color: #b9b9b9;
        text-align: left;
    }
    .event-time{
        font-size: 10px;
        color: #b9b9b9;
        text-align: left;
    }
    .event-text{
    }
    .event-author{
        font-size: 10px;
        color: #b9b9b9;
        float: right;
    }
    .readmore{
        margin-left: 20px;
    }
